# Python
__pycache__/
*.py[cod]
*.so
*.egg
*.egg-info/
dist/
build/
.eggs/
*.pyo
*.pyd
*.db
*.sqlite3

# Jupyter Notebooks
.ipynb_checkpoints

# VS Code
.vscode/

# Environment
.env
.venv/
venv/
ENV/

# Streamlit
.streamlit/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# CSV/outputs
*.csv
*.xlsx
*.xls
*.zip

# Others
*.bak
*.swp
*.tmp
